* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  color: grey;

  background-color: grey;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.time {
  margin-bottom: 10px;
  font-size: 68px;
}
@media screen and (max-width: 768px) {
  .time {
    font-size: 48px;
  }
}

.date {
  margin-bottom: 40px;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .date {
    font-size: 24px;
  }
}

.greeting {
  margin-bottom: 40px;
  font-size: 40px;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  .greeting {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 32px;
  }
}

.greeting-name {
  margin-left: 5px;
}

.wishes {
  display: block;
  text-align: center;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .wishes {
    font-size: 20px;
  }
}

.wish {
  font-style: italic;
}
